@import 'colors.scss';

html {
	height: 100%;
}

body {
  font-family: Segoe UI,sans-serif;
  font-weight: 450;
  margin: 0;
  height: 100%;
}

a {
  color: $gold-mid;
  &:hover {
    color: $purple-mid;
  }
}
